<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nikhil.androidify">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AndroidifyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

<!--        <activity android:name=".projects.lifecycle.fragments.LifecycleActivity"-->
        <activity android:name=".MainActivity"
            android:exported="true">
<!--        <activity android:name=".projects.lifecycle.activity.LifecycleActivityA">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".projects.launchmodes.FirstActivity"
            android:launchMode="standard" />
        <activity
            android:name=".projects.launchmodes.SecondActivity"
            android:launchMode="standard" />
        <activity
            android:name=".projects.launchmodes.ThirdActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".projects.launchmodes.FourthActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".projects.launchmodes.FifthActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".projects.launchmodes.SixthActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".codelabs.roomwithaview.WordActivity" />
        <activity android:name=".codelabs.roomwithaview.NewWordActivity" />
<!--        <activity android:name=".projects.lifecycle.LifecycleActivity" />-->
        <activity android:name=".projects.TopicsActivity" />
        <activity android:name=".codelabs.CodeLabsActivity" />
        <activity android:name=".codelabs.databinding.basicsample.BasicSampleActivity" />
        <activity android:name=".codelabs.coroutines.main.BasicCoroutinesActivity" />
        <activity
            android:name=".projects.layouts.constraintlayout.ConstraintLayoutExample1"
            android:exported="true" />
        <activity android:name=".codelabs.coroutinesadvanced.ui.AdvancedCoroutinesActivity" />
        <activity android:name=".projects.navdrawer.NavDrawerActivity"
            android:theme="@style/NavDrawerTheme"/>
        <activity android:name=".projects.lifecycle.activity.LifecycleActivityB" />
    </application>

</manifest>